.container {
  position: relative;
}
.banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_text_f_line {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;
}
.banner_text_sec_line {
  font-family: Sahitya;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  color: white;
  width: 80%;
}
.banner_btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #253d4e;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 30px;
}
