@import "../../../commonStyles/media-queries.module.scss";
.container {
  width: 90%;
  margin: 4% auto 0;
  @include respond(sm) {
    width: 85%;
  }
  :global {
    .slick-prev:before,
    .slick-next:before {
      color: gray !important;
    }
    .slick-prev:before,
    .slick-next:before {
      color: gray !important;
    }
  }
}
