.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--theme-color);
  color: white;
  padding: 1% 2%;
}
.top_header_left_side {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.top_header_left_name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0em;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.top_header_left_city {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
.top_header_login_signup_text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

@media only screen and (max-width: 600px) {
}
