.container {
  width: 85%;
  margin: auto;
  .bread_crumb {
    padding: 2% 1%;
    background-color: #fbfbfb;
    border: 0.4px solid #e2e2e2;
  }
  .whishlist_heading {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #253d4e;
    margin-top: 2%;
    .whishlist_number {
      color: gray;
      font-size: 12px;
      padding-left: 5px;
    }
  }
}
